{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block head %}{{parent()}} {{ knp_pagination_rel_links(pagination) }}{% endblock %}

{% block body %}

<section data-controller="search" class="list prodList">
	<h1>Products list</h1>
	{{ render(controller('App\\Controller\\SearchController::search', { 'nameValue': nameValue })) }}
	<ul>
		{% for prod in pagination %}
			<li>
				<a class="transition duration-500 hover:text-cyan-300" href="{{ path('app_prod_page', {slug: prod.slug}) }}" title="">
					{{ prod.prodName }}
				</a>
			</li>
		{% endfor %}
	<ul>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
</section>

{% endblock %}
